@import "../../../../../utils/styles/textDecoration.scss";

.trafficSources{
    display: flex;
    flex-direction: column;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title{
            @include textCardTitle;
        }
    }

    &__stats{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
    }

    &__bigGraph{
        align-self: center;
    }
}