@import "../../../../../utils/styles/textDecoration.scss";

.salesStatistics {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      @include textCardTitle;
    }
  }

  &__stats {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bigGraph {
      align-self: center;
  }
}
