@import "../../../../utils/styles/textDecoration.scss";

.sidebarCategory {
    &__name {
        padding-top: 20px;
        padding-bottom: 12px;
        padding-left: 20px;
        height: 20px;
        @include textOpacity50;
        @include textSmall;
        @include textLight;
    }
}
