$headerColor : #324148;
$sidebarColor : #263238;
$lightGrey : #F5F5F5;
$mainTextcolor : #333; 

$turquoise : #2da99d;
$darkTurquoise: #00695c;
$orange: #ff7144;
$violet: #4555b1;
$green : #7ab350;
$red : #f44336;
$indigo: #707cbc;
$blue : #03a9f4; 
$grey : #888888;
$crimson : #EC407A;