.tbl-col-1 {
    height: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.tbl-col-2 {
    height: 100%;
  flex: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.tbl-col-3 {
    height: 100%;
  flex: 3;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.tbl-col-4 {
    height: 100%;
  flex: 4;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.tbl-col-5 {
    height: 100%;
  flex: 5;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.tbl-col-6 {
    height: 100%;
  flex: 6;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.tbl-col-7 {
    height: 100%;
  flex: 7;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.tbl-col-8 {
    height: 100%;
  flex: 8;
  overflow: hidden;
}
.tbl-col-9 {
    height: 100%;
  flex: 9;
  overflow: hidden;
}
