@import "./colors.scss";

@mixin textTurquoise {
    color: $turquoise;
}

@mixin textOrange {
    color: $orange;
}

@mixin textViolet {
    color: $violet;
}

@mixin textDefaultColor {
    color: $mainTextcolor;
}

@mixin textBlue {
    color: $blue;
}

@mixin textGreen {
    color: $green;    
}

@mixin textRed {
    color: $red;    
}