@import "../../../../../utils/styles/textDecoration.scss";
@import "../../../../../utils/styles/backgrounds.scss";

.sidebarItem {
  &__parent {
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 -10px;
    display: flex;
    align-items: center;

    >*{
        margin: 0 10px;
    }

    &__icon {
      width: 20px;
      text-align: center;
    }

    &__title {
      flex: 1;
      @include textBold;
    }
  }
  &__parent.expanded{
      background-color:#26A69A ;
  }


  &__children{
      display: flex;
      flex-direction: column;
      padding-left: 10px;
  }
}

