.dashboardPage {
    display: flex;
    flex-direction: column;

    &__content{
        padding: 10px;
        display: flex;
        flex-direction: column;

        &__mainInfo{
            display: flex;
            flex-wrap: wrap;
        }

        &__secondaryInfo{
            display: flex;

            &__leftColumn{
                flex:2;
                display: flex;
                flex-direction: column;

                &__colorCards{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }

            &__rightColumn{
                flex:1;
                display: flex;
                flex-direction: column;
            }
        }
    }
}