@import "../../../../../utils/styles/textDecoration.scss";

.marketingCampaigns {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &__header {
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title {
                @include textCardTitle;
            }

            &__control {
                margin: 0 -10px;
                display: flex;
                align-items: center;
            }
            &__control > * {
                margin: 0 10px;
            }
        }

        &__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px;
        }
    }
}
