@import "./utils/styles/textColors.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.5;
  @include textDefaultColor;

}
h6 {
  font-size: 0.94rem;
  font-weight: 400;
}
